*{
    margin: 0px;
    padding: 0px;
    font-family: Outfit;
}

.container1{
    background-color: rgb(225, 238, 250);
    width: 100%;
    height: 100vh;
    padding-top: 20px;
}

.container2{
    width:26%;
    height: 82vh;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    
}

.qrc-img{
    width: 90%;
    padding-bottom: 10px;
    padding-top: 16px;
    padding-left: 16px;
    
  
}

h2{
   
text-align: center;
    
    
}


#p2{
    
    color: gray;
    text-align: center;
}


#p3{
   
    color: gray;
    text-align: center;

}

@media only screen and (max-width: 600px) and (min-width: 300px) 
{

    
    .container2{
    
    width: 85%;
    height: 70vh;
    background-color: white;
    margin: auto;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    }
  
    .container1 {

    background-color: rgb(225, 238, 250);
        width: 100%;
        height: 100vh;
        display: flex;
    }


}